h3 {
  font-weight: 600;
  font-size: 150%;
  padding: 0 0 0 8px;
  margin: 15px 0 15px 0;
  border-left: 7px solid #E9FF97;
  border-bottom: 2px solid #efefef;
}

.devDB {
  padding: 10px;
  margin: 10px 0;
  background: #eeeeee;
}
