@charset "UTF-8";
/* CSS Document */
/*----------------共通項目-------------------*/
.faqH3Title {
  width: 900px;
  height: 100%;
  margin: 0 auto;
  border: 1px solid #AAA;
  background: #CAFFFF;
}

.faqContents {
  border: 1px solid #AAA;
  width: 880px;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px 10px;
}

h3 {
  margin: 1% 0 1% 2%;
}

h4 {
  border-bottom: 1px solid #CCC;
  margin-top: 20px;
}

p {
  font-size: 12px;
}

li {
  list-style-type: none;
}

li a {
  color: #000000;
  text-decoration: none;
  font-size: 14px;
}

li a:hover {
  border-bottom: 1px solid black;
}

/*------------------------------------------*/
