@charset "UTF-8";
/* CSS Document */
.topTitle h2 {
  font-size: 125%;
  font-weight: 600;
  line-height: 1;
}

.topTitleSmall {
  font-size: 80%;
}

.titleBar {
  position: relative;
  width: 100%;
  height: 5px;
  background-image: url(../../top/images/titleBer.png);
}

#meinMenu {
  width: 250px;
  border-top: 3px solid #eeeeee;
}

#meinMenu li {
  border-bottom: 3px solid #eeeeee;
}

#meinMenu li a {
  display: block;
  padding: 15px 20px;
  color: #333333;
  text-decoration: none;
}

#meinMenu li a:hover {
  background-color: rgba(0, 200, 255, 0.2);
  color: #555555;
}

#nowScheduleScroll {
  margin: 0px;
  padding: 5px;
  background-image: url(../../top/images/scrollBack.png);
  color: #ffffff;
  font-family: Century Gothic,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic";
  text-shadow: 0 0 2px #aaa;
}

#nowScheduleScrollTitle {
  position: absolute;
  z-index: 10;
  background-image: url(../../top/images/scrollBack.png);
  font-weight: bold;
  font-style: italic;
  padding: 0 10px;
}

.screenStrong {
  color: #55ffaa;
  font-weight: bold;
}

.scrollStrong {
  color: #33ccff;
  font-weight: bold;
}

#todaySchedule {
  /*今日の上映スケジュール*/
  margin: 20px 40px;
  padding: 5px;
  height: 300px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #dddddd;
}

#meinContentLeft {
  width: 70%;
  float: left;
}

#todaySchedule table {
  width: 100%;
}

#todaySchedule td {
  padding: 5px;
  font-size: 85%;
  font-family: Century Gothic,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic";
}

.screenName {
  font-family: Century Gothic,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic";
}

#comingsoonMovie {
  margin: 20px 20px 40px 40px;
  padding: 5px;
  height: 300px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #dddddd;
}

#whatsnew {
  margin: 20px 20px 40px 40px;
  padding: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #dddddd;
}

#whatsnew ul {
  padding: 5px;
}

#whatsnew li {
  font-size: 80%;
  color: #333333;
  padding: 5px;
}

#meinContentRight {
  width: 30%;
  float: left;
}

#rankingMovie {
  margin: 20px 40px 40px 20px;
  padding: 5px;
  height: 600px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #dddddd;
}

#sliderBox {
  background: #7d7e7d;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iIzBlMGUwZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iIzBlMGUwZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZDdlN2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #7d7e7d 0%, #0e0e0e 20%, #0e0e0e 80%, #7d7e7d 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #7d7e7d), color-stop(20%, #0e0e0e), color-stop(80%, #0e0e0e), color-stop(100%, #7d7e7d));
  background: -webkit-linear-gradient(left, #7d7e7d 0%, #0e0e0e 20%, #0e0e0e 80%, #7d7e7d 100%);
  background: -o-linear-gradient(left, #7d7e7d 0%, #0e0e0e 20%, #0e0e0e 80%, #7d7e7d 100%);
  background: -ms-linear-gradient(left, #7d7e7d 0%, #0e0e0e 20%, #0e0e0e 80%, #7d7e7d 100%);
  background: linear-gradient(to right, #7d7e7d 0%, #0e0e0e 20%, #0e0e0e 80%, #7d7e7d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d7e7d', endColorstr='#7d7e7d',GradientType=1 );
}

#sliderBox > div {
  width: 980px;
  margin: 0 auto;
}

#topSlider {
  width: 980px;
  height: 300px;
  margin: 0 auto;
}
#topSlider li {
  width: 980px;
  height: 300px;
  margin: 0 auto;
}
#topSlider li img {
  width: 980px;
  height: 300px;
  margin: 0 auto;
}
