@charset "UTF-8";
/* CSS Document */
.titleBar {
  position: relative;
  width: 100%;
  height: 5px;
  background-image: url(../../top/images/titleBer.png);
}

#nowScheduleScroll {
  margin: 0px;
  padding: 5px;
  background-image: url(../../top/images/scrollBack.png);
  color: #ffffff;
  font-family: "Century Gothic","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic";
  text-shadow: 0 0 3px #000,0 0 3px #fff;
}

#nowScheduleScrollTitle {
  position: absolute;
  z-index: 10;
  background-image: url(../../top/images/scrollBack.png);
  font-weight: bold;
  font-style: italic;
  padding: 0 10px;
}

.screenStrong {
  color: #ff5555;
}

.scrollStrong {
  color: #5555ff;
  font-weight: bold;
}

#todaySchedule {
  /*今日の上映スケジュール*/
  margin: 20px 40px;
  padding: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #dddddd;
}

#meinContentLeft {
  width: 70%;
  float: left;
}

#todaySchedule table {
  width: 100%;
  border-collapse: separate;
}

#todaySchedule td {
  padding: 10px 5px;
  font-size: 85%;
  font-family: Century Gothic,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic";
  margin: 5px;
  background: #fafafa;
  color: #333333;
  text-align: center;
}

#todaySchedule th {
  margin: 5px;
  background: #f5f5f5;
}

.screenName {
  font-family: Century Gothic,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic";
  text-align: center;
  font-size: 100%;
  color: #555555;
  text-shadow: 0 0 2px #aaa;
}

.movieName {
  width: 200px;
}

.movieName a {
  color: #333333;
  text-decoration: none;
  display: block;
}

#comingsoonMovie {
  margin: 20px 20px 40px 40px;
  padding: 5px;
  height: 300px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #dddddd;
}

#whatsnew {
  margin: 20px 20px 40px 40px;
  padding: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #dddddd;
}

#whatsnew ul {
  padding: 5px;
}

#whatsnew li {
  font-size: 80%;
  color: #333333;
  padding: 5px;
}

#meinContentRight {
  width: 30%;
  float: left;
}

#rankingMovie {
  margin: 20px 40px 40px 20px;
  padding: 5px;
  height: 600px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #dddddd;
}

#sliderBox {
  background: black;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2NjMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, black 0%, #cc0000 50%, black 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, black), color-stop(50%, #cc0000), color-stop(100%, black));
  background: -webkit-linear-gradient(left, black 0%, #cc0000 50%, black 100%);
  background: -o-linear-gradient(left, black 0%, #cc0000 50%, black 100%);
  background: -ms-linear-gradient(left, black 0%, #cc0000 50%, black 100%);
  background: linear-gradient(to right, #000000 0%, #cc0000 50%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000',GradientType=1 );
}

#sliderBox > div {
  max-width: 980px;
  margin: 0 auto;
}

#topSlider {
  max-width: 980px;
  margin: 0 auto;
}
#topSlider li {
  max-width: 980px;
  margin: 0 auto;
}
#topSlider li img {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}
