/* CSS Document */
.loginButton {
  text-align: center;
  margin: 15px 0;
}

.loginTable table {
  width: 100%;
}

.loginTable table, .loginTable th, .loginTable td, .loginTable tr {
  border: 1px solid #cccccc;
}

.loginTable th {
  width: 100px;
  padding: 10px;
  background-color: #efefef;
  font-weight: bold;
}

.loginTable td {
  padding: 10px;
}

.error_p {
  border: 1px solid #ff5555;
  padding: 10px;
  margin: 10px 0;
  font-size: 85%;
  font-weight: 600;
  text-shadow: 0 0 1px #fff;
  color: #ff0000;
  background-color: #FFBBBC;
  font-weight: bold;
}
