@charset "utf-8";
/* CSS Document */
.login{
	width:450px;
	float:left;
	margin:20px;
}
#newUser{
	width:450px;
	float:left;
	margin:20px;
}
h4{
	font-size:110%;
	font-weight:600;	
}
.loginButton{
	text-align:center;	
	margin:15px 0;
}
.login table{
	width:100%;
	margin:15px 0 15px 10px;
}
.login table,.login th,.login td,.login tr{
	border:1px solid #cccccc;
}
.login th{
	width:300px;	
	padding:10px;
	background-color:#efefef;
}
.login td{
	padding:10px;
}