/* CSS Document */
.movieBox {
  width: 958px;
  padding: 10px;
  margin: 0px 0px;
  box-shadow: 0 0 2px #000;
  color: #222222;
  text-decoration: none;
}

.movieBox:hover {
  background-color: #efefef;
  box-shadow: 0 0 5px #bff;
}

.movieImg {
  float: left;
  width: 225px;
  margin: 0px;
}

.movieImg img {
  width: 100%;
  box-shadow: 0 0 2px #aaa;
}

.movieAbout {
  float: left;
  width: 500px;
  margin: 0 0 0 15px;
}

.movieAbout h3 {
  font-weight: 600;
  font-size: 125%;
  padding: 0 0 0 8px;
  margin: 0 0 10px 0;
  border-left: 7px solid #E9FF97;
}

#todayTab {
  width: 980px;
  margin: 15px 0 0 0;
}

#nowMovie {
  float: left;
  padding: 15px 0 0 0;
}

#comeMovie {
  float: left;
  margin-left: 20px;
  padding: 15px 0 0 0;
}

.comeDate {
  font-size: 110%;
  color: #FF8E00;
  font-weight: bold;
}

.movieEachTitle {
  border: none !important;
}

.movieEachTitle:after {
  background: none !important;
}

.movieEachTitle:before {
  background: none !important;
}
