/* CSS Document */
#mypageMein {
  width: 70%;
  float: left;
}

#mypageNav {
  float: left;
  width: 30%;
  padding: 0 0 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#mypageNav li img {
  width: 100%;
}
