@charset "utf-8";
/* CSS Document */
html{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.clear{
	clear:both;
}
header{
	border-top:7px solid  #bcffff;
	border-bottom:7px solid #bcffff;
}
#headerIn{
	width:980px;
	margin:0 auto;	
}
#headerIn h1{
	width:250px;
	float:left;
}
#progressBar{
	width:700px;
	margin:0 0 0 30px;
	float:left;
}
#content{
	width:980px;
	margin:0 auto;
}
.reserveTitle h3{
	border-left:7px solid #dbffb7;
	padding:2px 0 2px 10px;
	font-size:125%;
	font-weight:600;
	margin:10px 0;
}
footer{
	background-color:#efefef;
	padding:10px 0;
	display:block;
	width:100%;
}
#footerIn{
	width:980px;
	margin:0 auto;
}
#copyright{
	font-size:70%;
	color:#555555;
	text-shadow:0 0 2px #ccc;
	text-align:right;
}