@charset "UTF-8";
/* CSS Document */
#movieInfo table {
  width: 100%;
}

#sertChoice {
  width: 100%;
  height: 80px;
  position: absolute;
  z-index: 100;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#sertBlock {
  width: 200px;
  height: 100px;
}

#sertBlock li {
  float: left;
  width: 100px;
  height: 50px;
}

.blockTyui {
  font-size: 70%;
  text-shadow: 0 0 2px #aaa;
  text-align: center;
  color: #ffffff;
}

#sertEachChoice {
  margin: 10px 0;
}

.sertEachChoiceTitle {
  background-color: #333333;
  color: #ffffff;
  font-size: 80%;
  margin: 5px 0 0 0;
  font-weight: bold;
  padding: 5px;
  border-top: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
}

.setEachChoiceContent {
  padding: 0px 10px;
  margin: 0px 10px;
  float: left;
}

h5 {
  float: left;
  color: #ffffff;
  padding: 0 0 0 5px;
}

.setEachChoiceContent p {
  color: #222222;
  text-shadow: 0 0 2px #aaa;
  padding: 0 5px;
  margin-bottom: 0.5em;
  border-left: 3px solid #aaa;
  vertical-align: text-bottom;
}

.setEachChoiceContent ul {
  display: table;
  width: 100%;
}

.setEachChoiceContent li {
  display: table-cell;
  text-align: center;
  position: relative;
  z-index: 1000;
  line-height: 0;
  vertical-align: text-bottom;
}

.setEachChoiceContent li img {
  line-height: 0;
  vertical-align: text-bottom;
}

.sertArrange {
  width: 100%;
  background: white;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e5e5e5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
  /* IE6-8 */
  overflow: hidden;
}

#sertTableTitle {
  font-weight: bold;
  font-size: 135%;
  padding: 5px;
  background-color: #efefef;
}

.sertDecideButton {
  width: 400px;
  margin: 15px auto;
}

#adult, #student, #senior {
  margin-left: -8px;
  display: inline-block;
}

#adult li, #student li, #senior li {
  margin-left: 8px;
  float: left;
}

/*ここからテーブルの設定　あとで調整よろしく*/
.sertArrange table {
  /*display: inline-block;*/
  width: 100%;
  margin: 60px 0 0 0;
}

.sertArrange tbody {
  width: 100%;
}

.sertArrange tr {
  width: 100%;
  margin: 10px 0;
  display: block;
}

.sertArrange th {
  width: 4.8%;
  text-align: center;
  border-radius: 6px;
  display: inline-block;
  font-family: Century Gothic,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic";
  font-size: 125%;
  padding: 10px 0px 0 0;
  color: #888888;
  text-shadow: 0 0 2px #888888;
}

.sertArrange td {
  width: 4.8%;
  height: 60px;
  background: #ffffff;
  border-radius: 6px;
  display: inline-block;
  box-shadow: 0 0 3px #aaaaaa;
  font-family: Century Gothic,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic";
  font-size: 70%;
  text-align: center;
  vertical-align: bottom;
  color: #aaaaaa;
  text-shadow: 0 0 2px #dddddd;
}

td.notSeat {
  background: none;
  box-shadow: none;
}

.lMargin30 {
  margin-left: 30px;
}

tr.tMargin40 {
  margin-top: 40px;
}

.screenTop {
  text-align: center;
  padding: 0;
}

td.wheelChair {
  background: #FAFF4B;
}

td.reserveSeat {
  background: #434343;
}

.sertScreenTitle {
  margin: 0px;
  padding: 0 5px;
  display: block;
  font-size: 150%;
  background: #7d7e7d;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTBlMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d7e7d), color-stop(100%, #0e0e0e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
  /* IE6-8 */
  color: #ffffff;
  text-shadow: 0 0 2px #0af;
  font-family: Century Gothic,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic";
  text-align: center;
  height: 50px;
}

.sertTitleCenter {
  width: 70%;
  float: left;
}

.sertChangeRight {
  width: 30%;
  float: left;
  font-size: 80%;
  display: block;
  text-align: right;
  cursor: default;
}

.sertChangeLeft {
  width: 30%;
  float: left;
  font-size: 80%;
  display: block;
  text-align: left;
  cursor: default;
}

.captionBig {
  font-size: 150%;
  font-weight: 600;
  margin-left: 5px;
}

#movieInfo td {
  color: #ffffff;
  text-shadow: 0 0 2px #333;
}

.movieInfoTitle {
  color: #ffffff;
  text-shadow: 0 0 2px #0af;
  font-size: 110%;
}

/*ここまで*/
#sendButton {
  margin: 20px 0;
  width: 100%;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
}

#sendButton:hover {
  background: #e1e1e1;
}

#kiyaku {
  width: 800px;
  margin: 0 auto;
  height: 200px;
  border: 3px solid #aaaaaa;
}

.m10 {
  margin: 10px;
}

.arrow_box {
  position: relative;
  background: #eff;
  color: #333;
  padding: 7px;
  font-size: 90%;
  font-weight: 600;
  text-shadow: 0 0 3px #aaa;
}

.arrow_box:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(186, 213, 162, 0);
  border-top-color: #eff;
  border-width: 20px;
  margin-left: -20px;
}

#seatCenter {
  text-align: center;
  width: 100%;
}
