@charset "UTF-8";
html {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* clearfix(base.css(移行予定) */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-table;
}

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* End hide from IE-mac */
.clear {
  clear: both;
}

header {
  border-top: 7px solid #bcffff;
  background-color: #efefef;
  box-shadow: 0 0 3px #aaa;
}

#headerIn {
  width: 980px;
  margin: 0 auto;
}

h1 {
  width: 730px;
  float: left;
}

#login {
  width: 250px;
  float: left;
}

#login p {
  font-size: 75%;
  font-weight: 600;
  color: #555555;
  text-align: right;
  padding: 5px 10px;
  line-height: 1em;
}

#login a {
  color: #333333;
  text-decoration: none;
}

#login a:hover {
  color: #888888;
  text-decoration: underline;
}

header nav {
  width: 980px;
  margin: 0 auto;
  padding: 10px 0;
}

header li {
  width: 245px;
  float: left;
}

/*メインコンテンツ*/
#mainContent {
  width: 980px;
  margin: 0 auto;
}

.contentTitle h2 {
  position: relative;
  color: #111;
  background: #eafffc;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZmZmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2NlZmFmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZWZhZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #eafffc 0%, white 85%, #cefaff 90%, #cefaff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eafffc), color-stop(85%, white), color-stop(90%, #cefaff), color-stop(100%, #cefaff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eafffc 0%, white 85%, #cefaff 90%, #cefaff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eafffc 0%, white 85%, #cefaff 90%, #cefaff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eafffc 0%, white 85%, #cefaff 90%, #cefaff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #eafffc 0%, #ffffff 85%, #cefaff 90%, #cefaff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eafffc', endColorstr='#cefaff',GradientType=0 );
  /* IE6-8 */
  font-size: 180%;
  font-weight: 600;
  line-height: 1;
  margin: 30px 10px 15px 0;
  padding: 20px 5px 16px 60px;
  box-shadow: 0 1px 3px #777;
  border-radius: 0 30px 30px 0;
  line-height: 0.8em;
}

.contentTitle h2:before {
  content: "";
  position: absolute;
  background: #CEFAFF;
  top: 15%;
  left: -50px;
  margin-top: -22px;
  height: 100px;
  width: 100px;
  box-shadow: 0px 1px 2px #777;
  border-radius: 50%;
}

.contentTitle h2:after {
  content: "";
  position: absolute;
  background: #ffffff;
  top: 31%;
  left: -30px;
  margin-top: -15px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 0px 0px 1px #aaa;
}

.h2En {
  font-size: 60%;
  color: #777777;
  line-height: 0;
  font-family: Century Gothic,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic";
}

#pagetop {
  margin: 50px 0 20px 0;
  width: 200px;
  position: fixed;
  bottom: 20px;
  right: 0px;
}

#pagetop a {
  color: #333333;
  background-color: #efefef;
  box-shadow: 0 0 5px #aaa;
  text-decoration: none;
  font-size: 75%;
  padding: 10px 30px;
}

#pagetop a:hover {
  background-color: #A7FDFF;
}

footer {
  background-color: #efefef;
  height: 200px;
  box-shadow: 0 0 2px #aaa;
  margin: 0;
}

#footerIn {
  width: 980px;
  margin: 0 auto;
}

#copyright {
  font-size: 70%;
  color: #777777;
  text-shadow: 0 0 2px #ccc;
  text-align: right;
  padding: 10px 5px;
}

.ribbon {
  position: relative;
  color: #fefefe;
  background: #3c3c3c;
  font-size: 16pt;
  line-height: 1;
  margin: 40px -10px -60px -10px;
  padding: 10px 5px 10px 20px;
  box-shadow: 1px 3px 7px 0px  #666666;
  border: none;
  border-top: 3px solid #00aaff;
}
.ribbon:after, .ribbon:before {
  content: "";
  position: absolute;
  top: 100%;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-top: 5px solid #777777;
}
.ribbon:after {
  left: 0;
  border-right: 5px solid #777777;
}
.ribbon:before {
  right: 0;
  border-left: 5px solid #777;
}

h4 {
  border-left: 4px solid #3c3c3c;
  padding-left: 10px;
  margin-bottom: 15px;
}
