@charset "utf-8";

html,body{
  margin:0;
  padding:0;
}
html{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
body{
  background-image:url(topBg.jpg);
  background-size:cover;
  background-origin:border-box;
}
p{
  margin:0;
  padding:0;
}


.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix { display: inline-table; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

#mainContent{
  margin:-180px 0 0 -350px;
  position:fixed;
  top:50%;
  left:50%;
  width:700px;
  height:360px;
}
header{
  width:370px;
  float:left;
}
header h1{
  line-height:360px;
}
header h1 img{
  width:100%;
}
#list{
  width:300px;
  float:left;
  margin:0 0 0 30px;
}
#list ul{
  list-style-position:inside;
  list-style-type:none;
  margin:0;
  padding:10px 0 20px 0;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iODUlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuNSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 15%, rgba(255,255,255,0.5) 85%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(15%,rgba(255,255,255,0.5)), color-stop(85%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 15%,rgba(255,255,255,0.5) 85%,rgba(255,255,255,0) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 15%,rgba(255,255,255,0.5) 85%,rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 15%,rgba(255,255,255,0.5) 85%,rgba(255,255,255,0) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 15%,rgba(255,255,255,0.5) 85%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );

  box-sizing:border-box;
  -moz-box-sizing:border-box;
}
#list li{
  margin:0;
  padding:10px 10px;
  height:75px;
  margin-top:0px;
  line-height:75px;
}
#list li:first-child{
  margin-top:0;
}
#list li img{
  width:100%;
}
#list li img:hover{
  opacity:0.5;
}


/* 開発用　（要らなくなったらこの下は消してください） */
#adminLink{
  background:rgba(255,255,255,0.2);
  width:100%;
  position:fixed;
  height:50px;
  left:0;
  bottom:0;
  margin:0;
  padding:0;
  line-height:50px;
}
#adminLink a{
  display:block;
  text-align:center;
  color:#000000;
  text-shadow:0 0 10px #0af;
  font-size:150%;
}
#adminLink a:hover{
  background:rgba(0,200,255,0.6);
  color:#ffffff;
  text-shadow:0 0 10px #f00;
}
#lastUpdate{
  background:rgba(255,255,255,0.2);
  width:100%;
  position:fixed;
  height:30px;
  left:0;
  top:0;
  margin:0;
  padding:0;
  line-height:30px;
  color:#ffffff;
  font-size:125%;
  text-align:center;
  text-shadow:0 0 4px #000;
  
}