@charset "utf-8";
/* CSS Document */

/*----------------会社概要------------------*/

#company{
	border-spacing:0;
}

#company tr{
  border-bottom:1px solid #dddddd;
}
#company th{
  padding:10px;
  background:#fafafa;
  font-weight:bold;
  font-size:85%;
  width:150px;
}

#company td{
	padding:10px;
  background:#fafafa;
  font-size:80%;
}

/*------------------------------------------*/




/*---------------プライバシー---------------*/
.privacyContents{
	height:100%;
	margin: 0 auto;
	margin-bottom:20px;
	padding: 70px 10px 20px 10px;
	background: #efefef;
	font-size:0.8em;
}

.lead_privacy{
	margin:10px;
	padding:10px;
}

.title{
	background:#CCC;
	margin:10px;
	padding:10px;
}

.detail{
	margin:10px;
	padding:10px;
}
/*------------------------------------------*/




/*---------特定商取引法に基づく表示---------*/
.siteTable table{
	background: #fafafa;
  width:100%;
}

.tokuteiTitle{
	background:#111111;
	color:#ffffff;
  font-weight:bold;
  font-size:85%;
}
.siteTable tr{
  border-bottom:1px solid #dddddd;
}
.siteTable th{
	width:250px;
	padding:10px;
  font-size:80%;
}

.siteTable td{
	padding:10px;
  font-size:80%;
}
