@charset "utf-8";
/* CSS Document */
@import "compass";

#mypageMein{
	width:70%;
	float:left;
}
#mypageNav{
	float:left;
	width:30%;
  padding:0 0 0 15px;
  @include box-sizing(border-box);
}
#mypageNav li img{
  width:100%;
}