h2{
	border-left:7px solid #dbffb7;
	padding:2px 0 2px 10px;
	font-size:125%;
	font-weight:600;
	margin:10px 0;
}
h3{
  border-left:5px solid #00aaff;
  color:#333333;
  margin:10px 0 !important;
  padding:0px 0 0px 10px !important;
}
#mypageMein{
	width:640px;
	margin-right:40px;
	float:left;
}
#mypageNav{
	float:left;
	width:300px;
	margin-top:15px;
}