@charset "utf-8";
/* CSS Document */
html{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
/* clearfix(base.css(移行予定) */
.clearfix:after {  
  content: ".";   
  display: block;   
  height: 0; 
  clear: both;   
  visibility: hidden;  
}  
.clearfix { display: inline-table; }  
/* Hides from IE-mac \*/  
* html .clearfix { height: 1%; }  
.clearfix { display: block; }  
/* End hide from IE-mac */ 

.clear{
	clear:both;
}
header{
	box-shadow:0 0 5px #aaa;
	background-color:#fafafa;
}
#headerIn{
	width:980px;
	margin:0 auto;	
}
#headerIn h1{
	width:250px;
	float:left;
}
#progressBar{
	width:700px;
	margin:0 0 0 30px;
	float:left;
}
#content{
	width:980px;
	margin:0 auto;
}
#content100{ /*コンテンツ領域100%表示(座席選択時のみ使用)*/
	width:100%;
	min-width:980px;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;	
}
.reserveTitle h3{
	border-left:7px solid #dbffb7;
	padding:2px 0 2px 10px;
	font-size:125%;
	font-weight:600;
	margin:10px 0;
}
h4{
  border-left:3px solid #00aaff;
  color:#ffffff;
  margin:10px 0;
  padding:10px;
}
h5{
  color:#222222;
  text-shadow:0 0 2px #aaa;
  padding:0 10px;
  margin-bottom:0.5em;
  border-left:3px solid #aaa; 
}
footer{
	background-color:#efefef;
	padding:10px 0;
	display:block;
	width:100%;
}
#footerIn{
	width:980px;
	margin:0 auto;
}
#copyright{
	font-size:70%;
	color:#555555;
	text-shadow:0 0 2px #ccc;
	text-align:right;
}