@charset "utf-8";
/* CSS Document */

header{
	box-shadow:0 0 5px #aaa;
	background-color:#111111;
  border-top:5px solid #ff0000;
  overflow:hidden;
  padding:15px;
}
#header h1{
	width:250px;
	float:left;
}
#progressBar{
	width:700px;
	margin:0 0 0 30px;
	float:left;
}


footer{
	background-color:#111111;
	padding:10px 0;
	display:block;
	width:100%;
}
#copyright{
	font-size:70%;
	color:#ffffff;
  padding:0 20px 0 0;
	text-shadow:0 0 2px #ccc;
	text-align:right;
}