@charset "utf-8";
@import "compass"; //消したい

$mainColor:#ff0000; //Tokyoカラー

/* pageBase */
#wrapper {

}
#main {
	float:right;
	width:100%;
	background-color: #111111;
  border-left:3px solid $mainColor;
  @include box-sizing(border-box);
}
#content {
	margin-left:255px;
  padding:0;
	background-color:#fafafa;
}
#mainContent{
  padding:0px 15px 30px 15px;
}
#sidebar {
	float:left;
	margin-left:0;
	margin-right:-255px;
	width:250px;
  padding:0 0 0 5px;
}

/* menuPageBase */
#menuPB {
	float:right;
	width:100%;
  @include box-sizing(border-box);
}
#menuPBContent {
	padding-left:280px;
  @include box-sizing(border-box);
  float:right;
  width:100%;
}
#menuPBMainContent{
}
#menuPBSidebar {
	float:left;
	margin-right:-280px;
	width:250px;
  padding:0 0px 0 0;
}

#mypageLink{
	float:right;
	margin:3px 10px;
}
#mypageLink li{
	float:left;
	font-size:75%;
	padding:2px 10px;
}
#mypageLink li:first-child{
	border-right:1px solid #aaa;
}

/* header */
header{

}
h1{
  height:150px;
  line-height:150px;
  width:250px;
  text-align:center;
}
h1 a{
  display:block;
}
h1 img{
  width:95%;
}
h1 img:hover{
  opacity:0.7;
}

/* footer */
footer{
  clear:both;
	background-color:#111111;
  border-left:3px solid $mainColor;
	height:100px;
	box-shadow:0 0 2px #aaa;
	margin:0;
	width:100%;
  @include box-sizing(border-box);
}
#footerLeft{
	float:left;
	width:50%;
}
#footerRight{
	float:left;
	width:50%;
}
#footerLeft li{
	font-size:80%;
	margin:10px 0px;
	padding:0 10px;
	float:left;
}
#footerLeft li:first-child{
	border-right:1px solid #aaa;
}
#footerLeft li a{
	color:#eeeeee;
	text-decoration:none;
}

#footerLeft li a:hover{
	opacity:0.7;
}
#copyright{
	font-size:70%;
	color:#ffffff;
	text-shadow:0 0 2px #ccc;
	text-align:right;
	padding:10px 15px;
}