@charset "utf-8";
@import "compass";
html{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
/* clearfix(base.css(移行予定) */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

.clear{
	clear:both;
}
header{
	background-color:#ffffff;
	box-shadow:0 0 5px #555,0 0 5px #555;
	padding:0 0 5px 0;
	position:relative;
	z-index:100;
}
#headerIn{
	width:980px;
	margin:0 auto;
}
#headerLeft{
	float:left;
}
#headerRight{
	float:right;
}
h1{
	padding:10px 0;
}
#login{
	float:right;
	background:#555555;
	padding:0px 5px 0 10px;
	background-image:url(../images/userBack.png);
	box-shadow:0 0 4px #eee;
	@include border-radius(0 0 5px 5px);
}
#login img{
	line-height:1em;
}
#login p{
	font-size:75%;
	color:#555555;
	padding:5px 10px;
	float:left;
}
#login a{
	color:#333333;
	text-decoration:none;
	text-shadow:0 0 2px #eee;
}
#login a:hover{
	color:#888888;
	text-decoration:underline;
}
#mypageLink{
	float:right;
	margin:3px 10px;
}
#mypageLink li{
	float:left;
	font-size:75%;
	padding:2px 10px;
}
#mypageLink li:first-child{
	border-right:1px solid #aaa;
}
header nav{
	margin:10px auto 0 auto;
}
header nav li{
	width:170px;
	float:left;
	font-size:70%;
	@include box-sizing(border-box);
	padding:5px;
}
header nav li img{
	width:100%;
}
header nav li a{
 display:block;
}
.theatres{
	border-bottom:5px solid #ffd6d6;
}
.workinfo{
	border-bottom:5px solid #ffffb7;
}
.service{
	border-bottom:5px solid #dbffb7;
}
.companyinfo{
	border-bottom:5px solid #e0ffff;
}
/*メインコンテンツ*/
#mainContent {
	width:980px;
	margin:0 auto;
}

.contentTitle{
	 background:url(../../shop/images/h2TitleBack.png);
	 background-size:cover;
	 background-origin:border-box;
	 height:200px;
}
#theatesTtitle{
	 background:url(../../shop/images/h2TitleBack.png);
}
#workinfoTitle{
	 background:url(../../movie/images/h2TitleBack.png);
}
#serviceTitle{
	 background:url(../../service/images/h2TitleBack.png);
}
#companyinfoTitle{
	 background:url(../../company/images/h2TitleBack.png);
}
.contentTitle h2 {
  color: #fff;
	 width:980px;
  font-size:225%;
  font-weight:normal;
  line-height:200px;
	 height:200px;
  margin:0 auto;
  padding: 0px 5px 0px 10px;
	 text-shadow:0 0 5px #555,0 0 5px #555;
}
.h2En{
	font-size:60%;
	margin-left:10px;
	font-family:Century Gothic,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic";
}

#pagetop{
	margin:50px 0 20px 0;
	width:200px;
	position:fixed;
	bottom:20px;
	right:0px;
}
#pagetop a{
	color:#333333;
	background-color:#efefef;
	box-shadow:0 0 5px #aaa;
	text-decoration:none;
	font-size:75%;
	padding:10px 30px;
}
#pagetop a:hover{
	background-color:#A7FDFF;
}
footer{
	background-color:#efefef;
	height:200px;
	box-shadow:0 0 2px #aaa;
	margin:0;
}
#footerIn{
	width:980px;
	margin:0 auto;
}
#footerLeft{
	float:left;
	width:500px;
}
#footerRight{
	float:left;
	width:480px;
}
#copyright{
	font-size:70%;
	color:#777777;
	text-shadow:0 0 2px #ccc;
	text-align:right;
	padding:10px 5px;
}

.ribbon{
    position: relative;
    color: #fefefe ;
    background: #3c3c3c;
    font-size: 16pt ;
    line-height: 1;
    margin: 40px -10px -60px -10px;
    padding: 10px 5px 10px 20px;
    box-shadow:1px 3px 7px 0px  #666666;
				border:none;
    border-top:3px solid #00aaff;
	&:after,&:before {
	    content: "";
	    position: absolute;
	    top: 100%;
	    height: 0;
	    width: 0;
	    border: 5px solid transparent;
	    border-top: 5px solid #777777;
	}
	&:after {
	    left: 0;
	    border-right: 5px solid #777777;
	}
	&:before {
	    right: 0;
	    border-left: 5px solid #777;
	}
}
h4{
	border-left: 4px solid #3c3c3c;
	padding-left: 10px;
	margin-bottom: 15px;
}
#footerLeft li{
	font-size:80%;
	margin:10px 0px;
	padding:0 10px;
	float:left;
}
#footerLeft li:first-child{
	border-right:1px solid #aaa;
}
#footerLeft li a{
	color:#333333;
	text-decoration:none;
}

#footerLeft li a:hover{
	opacity:0.8
}