/* line 17, ../../../../../../Users/tak723sio/rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Users/tak723sio/rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Users/tak723sio/rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Users/tak723sio/rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Users/tak723sio/rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Users/tak723sio/rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Users/tak723sio/rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Users/tak723sio/rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Users/tak723sio/rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/style.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 10, ../sass/style.scss */
header {
  background: #dddddd;
  height: 60px;
  line-height: 60px;
}
/* line 14, ../sass/style.scss */
header #headerWrap {
  width: 96%;
  height: 60px;
  margin: 0 auto;
  color: #ffffff;
}
/* line 19, ../sass/style.scss */
header #headerWrap h1 {
  margin: 0;
}

/* line 25, ../sass/style.scss */
#mainWrapper {
  width: 100%;
  display: inline-block;
  background: #3c3c3c;
  margin: 0 auto;
  /* login style */
  /* end login style */
  /* list table style */
  /* end list table style */
  /* edit style */
  /* end edit style */
}
/* line 30, ../sass/style.scss */
#mainWrapper #sidemenu {
  width: 15%;
  float: left;
}
/* line 33, ../sass/style.scss */
#mainWrapper #sidemenu nav {
  width: 100%;
}
/* line 35, ../sass/style.scss */
#mainWrapper #sidemenu nav ul {
  width: 100%;
}
/* line 37, ../sass/style.scss */
#mainWrapper #sidemenu nav ul li {
  line-height: 40px;
  width: 100%;
}
/* line 40, ../sass/style.scss */
#mainWrapper #sidemenu nav ul li.current {
  color: #ffffff;
  font-weight: bold;
  width: 100%;
  padding-left: 5%;
  line-height: 40px;
  background: #C0392B;
}
/* line 48, ../sass/style.scss */
#mainWrapper #sidemenu nav ul li a {
  display: inline-block;
  color: #ffffff;
  width: 100%;
  padding-left: 5%;
  line-height: 40px;
}
/* line 54, ../sass/style.scss */
#mainWrapper #sidemenu nav ul li a:hover {
  background: #C0392B;
}
/* line 62, ../sass/style.scss */
#mainWrapper #mainContent {
  background: #ffffff;
  height: auto;
  min-height: 800px;
  width: 85%;
  padding-left: 2%;
  padding-right: 2%;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 74, ../sass/style.scss */
#mainWrapper h2 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 40px;
}
/* line 80, ../sass/style.scss */
#mainWrapper #editButton {
  float: right;
  margin-bottom: 10px;
}
/* line 84, ../sass/style.scss */
#mainWrapper #newButton {
  margin-left: 10px;
}
/* line 87, ../sass/style.scss */
#mainWrapper .glyphicon {
  margin-right: 10px;
}
/* line 91, ../sass/style.scss */
#mainWrapper #loginArea {
  width: 360px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 2px black;
  -moz-box-shadow: 0 0 2px black;
  box-shadow: 0 0 2px black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 100, ../sass/style.scss */
#mainWrapper #loginArea h2 {
  font-size: 20px;
  text-align: center;
}
/* line 107, ../sass/style.scss */
#mainWrapper #loginForm p {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.5em;
}
/* line 111, ../sass/style.scss */
#mainWrapper #loginForm p input {
  width: 100%;
  height: 40px;
  line-height: 40px;
}
/* line 117, ../sass/style.scss */
#mainWrapper #loginForm #loginButton {
  text-align: right;
}
/* line 124, ../sass/style.scss */
#mainWrapper #editTable {
  width: 70%;
  margin: 0 auto;
}
/* line 128, ../sass/style.scss */
#mainWrapper .listTable {
  margin-bottom: 60px;
}
/* line 130, ../sass/style.scss */
#mainWrapper .listTable .description {
  width: 400px;
  word-break: break-all;
  text-align: left;
}
/* line 135, ../sass/style.scss */
#mainWrapper .listTable th {
  font-weight: bold;
  text-align: center !important;
}
/* line 139, ../sass/style.scss */
#mainWrapper .listTable td {
  text-align: center;
}
/* line 141, ../sass/style.scss */
#mainWrapper .listTable td:nth-child(2), #mainWrapper .listTable td:nth-child(6), #mainWrapper .listTable td:nth-child(8) {
  white-space: nowrap;
}
/* line 144, ../sass/style.scss */
#mainWrapper .listTable td img {
  width: 100px;
}
/* line 148, ../sass/style.scss */
#mainWrapper .listTable .label {
  margin-left: 10px;
}
/* line 153, ../sass/style.scss */
#mainWrapper .current {
  background: #ccc;
}
/* line 156, ../sass/style.scss */
#mainWrapper .deleted, #mainWrapper .deleted th, #mainWrapper .deleted td {
  background: #6c6c6c !important;
}
/* line 162, ../sass/style.scss */
#mainWrapper #editSend {
  width: 70%;
  margin: 30px auto;
  text-align: right;
}
/* line 166, ../sass/style.scss */
#mainWrapper #editSend input {
  margin-left: 20px;
}
/* line 174, ../sass/style.scss */
#mainWrapper .flr {
  float: right;
}
/* line 177, ../sass/style.scss */
#mainWrapper .mb30 {
  margin-bottom: 30px;
}

/* line 182, ../sass/style.scss */
footer {
  background: #3c3c3c;
  font-size: 12px;
  color: #ffffff;
  height: 40px;
  line-height: 40px;
  width: 100%;
  clear: both;
  text-align: center;
  margin-top: -5px;
}
